<nav class="navbar appnav navbar-expand-lg navbar-light ">
  <a class="navbar-brand" (click)="goHome()" >Home</a>
  

  <div class="collapse navbar-collapse navbar-nav mr-auto" id="navbarSupportedContent">
    <!-- <div class="row"> -->
      <div class="col-md-3">
        <button class="btn btn-outline-primary my-2 my-sm-0" (click)="getFriendReq()" type="submit">Friend Requests</button>


      </div>
      <div class="col-md-6 form-inline my-2 my-lg-0">

          <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" (click)="searchUser()" type="submit">Search</button>
       
      </div>
      <div class="col-md-3" *ngIf="userDetails" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{userDetails.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="gotoProfile()">Profile</a>
          <a class="dropdown-item" (click)="onLogout()">Logout</a>
          
        </div>

      </div>
   
  </div>
</nav>