<app-header></app-header>
<div class="row container " *ngFor='let p of requests;let pI = index;' >
    <div class="col-md-3"></div>
    <div class="col-md-2 "> 
            <a>{{p.username}}</a> 
    </div>  
    <div class="col-md-2 "> 
        <button class="btn btn-primary fri"(click)="approve(p)">Approve </button></div> 
        <div class="col-md-2 ">     
               
               <button class="btn btn-secondary friend"(click)="reject(p)">Reject </button></div>
           </div>
          
        