.images{
    margin-top: 20px;
    width:100%;
    height: 200px;
}
.post{
    margin-top: 20px;
    
    background-color: #e6f2ff;
    /* height:400px; */
    width:50%
}

.custom-file{
    margin-top: 20px;
    margin-bottom: 20px;
}
.caption{
    width:100%
}
.appnav{
    background-color:#e6f2ff;
    color:#fff !important
} 
.user{
    float:right;
}
.postimages{
    margin-top: 20px;
    width:100%;
    height: 300px;
}
.posts{
    border: 2px solid #92badd;
    margin:10px;
    margin-left:72px;
    /* border-radius: 50%; */
}
.upload{
    margin:10px;
}


