<app-header ></app-header>

  <div class="container-fluid post">
    <div class="container">
        <button class="btn btn-primary upload"(click)="uploadPhoto()">Upload a Photo </button>
        <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
          <div class="row" *ngIf="create">            
            <div class="col-sm-6">      
              <div class="custom-file">      
                <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                  (change)="onFileSelect($event)" #UploadFileInput>      
                <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>              
              </div>      
            </div> 
          </div>
        </form>
        <div class="row container" *ngIf="show">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="thumbnail">
                     <img  class="images img-fluid" [src]="imageUrl"/>
                    <div class="caption">
                        <input type="text" style="width: 100%;" [(ngModel)]="data" name="data" required placeholder="Enter Description"/>               
                   </div>
                   
                </div>
        </div>
      </div>
      <div *ngIf="create">
        <button class="btn btn-primary" (click)=onFormSubmit() style="margin: 5px;" type="submit">Post</button>
        <button class="btn btn-secondary" (click)="cancelUpload()" type="submit">Cancel</button>
      </div>
     
  </div>
  </div>
  <div  class="row container " *ngFor='let p of posts;let pI = index;' >
    <div class="col-md-3"></div>
    <div class="col-md-7 posts" *ngIf="pI>=0">
        <div class="thumbnail">
             <img  class="postimages img-fluid" [src]="'http://localhost:3000/uploads/'+p.image"/>
            <div class="caption">
                <p>{{p.data}}</p>
           </div>
           <div class="user">
               <p>{{p.userId.name}}</p>
               <p>{{p.createdAt|date}}</p>
           </div>
        </div>
</div>
</div>
     

