
<form
  #signUpForm="ngForm"
  (ngSubmit)="signUpForm.valid &#038;&#038; onSubmit(signUpForm)"
>
  <input
    type="text"
    #name="ngModel"
    [(ngModel)]="userService.selectedUser.name"
    name="name"
    placeholder="Full Name"
    required
    [ngClass]="{'invalid-textbox' :signUpForm.submitted &#038;&#038; !name.valid }"
  />
  <div *ngIf="signUpForm.submitted &#038;&#038; !name.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input
  type="text"
  #age="ngModel"
  [(ngModel)]="userService.selectedUser.age"
  name="age"
  placeholder="Age"
  required
  [ngClass]="{'invalid-textbox' :signUpForm.submitted &#038;&#038; !age.valid }"
/>
<div *ngIf="signUpForm.submitted &#038;&#038; !age.valid">
  <label class="validation-message">This field is required.</label>
</div>
  <input
    type="text"
    #email="ngModel"
    [(ngModel)]="userService.selectedUser.email"
    name="email"
    placeholder="Email"
    required
    [pattern]="emailRegex"
    [ngClass]="{'invalid-textbox' :signUpForm.submitted &#038;&#038; !email.valid }"
  />
  <div *ngIf="signUpForm.submitted &#038;&#038; email.errors">
    <label *ngIf="email.errors.required" class="validation-message"
      >This field is required.</label
    >
    <label *ngIf="email.errors.pattern" class="validation-message"
      >Invalid email address.</label
    >
  </div>
  <input
    type="password"
    #password="ngModel"
    [(ngModel)]="userService.selectedUser.password"
    name="password"
    placeholder="Password"
    minlength="4"
    required
    [ngClass]="{'invalid-textbox' :signUpForm.submitted &#038;&#038; !password.valid }"
  />
  <div *ngIf="signUpForm.submitted &#038;&#038; password.errors">
    <label *ngIf="password.errors.required" class="validation-message"
      >This field is required.</label
    >
    <label *ngIf="password.errors.minlength" class="validation-message"
      >Enter atleast 4 characters.</label
    >
  </div>
  <input type="submit" value="Sign Up" />
</form>
<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">Saved successfully</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{ serverErrorMessages }}
</div>
