#icon{
    width:40%;
    
}
.postimages{
    margin-top: 20px;
    width:100%;
    height: 300px;
}
.posts{
    border: 2px solid #92badd;
    margin:10px;
    margin-left:72px;
    /* border-radius: 50%; */
}
.friend{
    margin-left:40px
}
.alert{
    margin: 10px;
}