<app-header></app-header>
<div class="row" *ngIf="userDetails">
    <div class="col-md-5"></div>
    <div class="col-md-4" *ngIf="!userDetails?.image">
        <img src="../../../assets/user.jpg" id="icon" alt="User Icon" />
      </div>
      <div class="col-md-4" *ngIf="userDetails.image">
        <img  class=" img-fluid" [src]="'http://localhost:3000/uploads/'+userDetails.image"/>
      </div>
</div>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2" *ngIf="userDetails">
        <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
            <div class="row" *ngIf="!_id">       
                <div class="custom-file" style="margin:10px;">
                    <button class="btn btn-primary" type="button" (click)="UploadFileInput.click()">
                        <span>Change Profile Picture</span>      
                  <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                    (change)="onFileSelect($event)" style="display:none;" #UploadFileInput>      
                  <!-- <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Change Image'}}</label>               -->
                </button> 
              </div> 
            </div>
          </form>
        <p style="text-align: center;">{{userDetails.name}}</p>
        <p  style="text-align: center;">{{userDetails.email}}</p>
        <p  style="text-align: center;">Friends:{{userDetails.friendsList.length}}</p>
      
        <div *ngIf="_id && !friend && !request && !friendrequest">
            <button class="btn btn-primary friend"(click)="sendRequest()">Add Friend </button>
        </div>
        <div *ngIf="_id && !friend && request && !friendrequest">
            <button class="btn btn-primary friend"(click)="sendRequest()" disabled>Requested </button>
        </div>
        <div *ngIf="_id && friend &&!friendrequest && !request">
            
            <button disabled class="btn btn-primary friend"(click)="sendRequest()">Friend </button>
        </div>
        <div *ngIf="_id && !friend && friendrequest && !request">
            
            <button  class="btn btn-primary "(click)="approve(userDetails)">Approve </button>
            <button  class="btn btn-secondary "(click)="reject(userDetails)">Reject </button>
        </div>
      </div>
</div>
<div class="alert alert-primary " *ngIf="nopost">No posts available.</div>
<div class="row container " *ngFor='let p of posts;let pI = index;' >
    <div class="col-md-3"></div>
    <div class="col-md-7 posts">
        <div class="thumbnail">
             <img  class="postimages img-fluid" [src]="'http://localhost:3000/uploads/'+p.image"/>
            <div class="caption">
                <p>{{p.data}}</p>
                <!-- <input type="text" style="width: 100%;" [(ngModel)]="data" name="data" required placeholder="Enter Description"/>                -->
           </div>
           <div class="user">
               <p>{{p.userId.name}}</p>
               <p>{{p.createdAt|date}}</p>
           </div>
          
        </div>
</div>
</div>
     